---
- name: Purge Kinsta cache
  uri:
    url: "{{ kinsta_purge_cache_endpoint }}"
  when: kinsta_purge_cache_endpoint is defined

- name: Warn when not purging Kinsta cache
  debug:
    msg: "Skip purging Kinsta cache because kinsta_purge_cache_endpoint is not defined. You have to purge them manually."
  when: kinsta_purge_cache_endpoint is not defined
